*{
    margin: 0;
    padding: 0;
    font-size: 100%;
}
body{
    background-color: #e2ffef;
}
header h1{
    font-size: 2em;
    font-weight: bolder;
    font-family: "Comic Sans MS",sans-serif;
    text-align: center;
}
.file {
    margin-left: 20%;
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    color: #1E88C7;
    overflow: hidden;
}
.file input {
    position: absolute;
    right: 0;
    top: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
}
.annotationContainer{
    width: 60%;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
#titleListContainer{
    float: right;
    width: 30%;
    padding: 4px 12px;
}

