*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman",sans-serif;
    font-size: 100%;
}
.container{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
header{
    width: 100%;
    position: relative;
}
.title{
    font-size: 3em;
    color: #7c736a;
}
#score{
    position: absolute;
    top: 0;
    right: 25%;
    width: 20%;
    background-color: #7c736a;
    color: #f65d3b;
    text-align: center;
    font-weight: bold;
}
#score:before {
    display: block;
    content: "SCORE";
    margin-top: 4px;
    margin-bottom: 5px;
}
#best-score{
    position: absolute;
    top:0;
    right: 0;
    width: 20%;
    background-color: #7c736a;
    color: #f65d3b;
    text-align: center;
    font-weight: bold;
}
#best-score:before {
    display: block;
    content: "BEST";
    margin-top: 4px;
    margin-bottom: 5px;
}
.option-buttons{
    width: 100%;
    position: relative;
    margin: 2px auto;
}
#restart{
    width: 60%;
    margin-left: 20%;
    font-size: 2em;
}
.orange {
    color: white;
    border: 1px solid #FB8F3D;
    background: -webkit-linear-gradient(top, #FDA251, #FB8F3D);
    background: -moz-linear-gradient(top, #FDA251, #FB8F3D);
    background: -ms-linear-gradient(top, #FDA251, #FB8F3D);
}

.orange:hover {
    border: 1px solid #EB5200;
    background: -webkit-linear-gradient(top, #FD924C, #F9760B);
    background: -moz-linear-gradient(top, #FD924C, #F9760B);
    background: -ms-linear-gradient(top, #FD924C, #F9760B);
    box-shadow: 0 1px #EFEFEF;
}

.orange:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}

#div2048 {
    width:300px;
    height:300px;
    margin: auto;
    background-color: #a39a89;
    position: relative;
}
#change-key-char{
    display: none;
}
#change-input {
    display: none;
}

#game-over-message {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 230, 181, 0.35);
    font-weight: bold;
    display: none;
}

#game-over-message p {
    width: 100%;
    height: 60%;
    text-align: center;
    line-height: 180px;
    font-size: 3em ;
    background-color: rgba(235, 230, 181, 0.05);
}

#retry {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: 10%;
    font-size: 1.5em;
    color: black;
}
#up, #down, #left, #right {
    width: 96%;
    margin-right: 0;
    background-color: rgb(255, 255, 255);
    border: 2px #eb5200 solid;
}

/*初始的各块的样式*/
#div2048 div.tile {
    margin: 4% 0 0 4%;
    width: 20%;
    height: 10%;
    padding: 5% 0;
    font-size: 2.3em;
    text-align: center;
    float: left; /*使得生成的div向左浮动*/
}

/*定义各个数字的颜色和背景颜色*/
#div2048 div.tile0 {
    background: #ccc0b2;
}

#div2048 div.tile2 {
    color: #7c736a;
    background: #eee4da;
}

#div2048 div.tile4 {
    color: #7c736a;
    background: #ece0c8;
}

#div2048 div.tile8 {
    color: #fff7eb;
    background: #f2b179;
}

#div2048 div.tile16 {
    color: #fff7eb;
    background: #f59563;
}

#div2048 div.tile32 {
    color: #fff7eb;
    background: #f57c5f;
}

#div2048 div.tile64 {
    color: #fff7eb;
    background: #f65d3b;
}

#div2048 div.tile128 {
    color: #fff7eb;
    background: #edce71;
}

#div2048 div.tile256 {
    color: #fff7eb;
    background: #edcc61;
}

#div2048 div.tile512 {
    color: #fff7eb;
    background: #ecc850;
}

#div2048 div.tile1024 {
    color: #fff7eb;
    background: #edc53f;
}

#div2048 div.tile2048 {
    color: #fff7eb;
    background: #eec22e;
}


@media only screen and (min-width: 500px) {
    #restart{
        width: 45%;
        margin-left:5%;
        font-size: 2em;
    }
    #change-key-char{
        width: 45%;
        margin-right: 3%;
        font-size: 2em;
        display: inline;
    }
    #change-input {
        position: absolute;
        width: 20%;
        top:0;
        right:3px;
        background-color: greenyellow;
        z-index: 10;
        display: block;
    }
    #div2048 {
        width:500px;
        height:500px;
    }
    #game-over-message p{
        line-height: 300px;
    }

}

