---
import Breadcrumbs from "@components/Breadcrumbs.astro";

export interface Props {
  pageTitle: string;
  pageDesc?: string;
  fullWidth?: boolean;
}

const { pageTitle, pageDesc, fullWidth = false } = Astro.props;
---

<Breadcrumbs />
<main class="w-full pb-12">
  <div class="mx-auto w-full max-w-3xl px-4">
    <h1 class="text-2xl font-semibold sm:text-3xl">{pageTitle}</h1>
    {pageDesc && <p class="mb-6 mt-2 italic">{pageDesc}</p>}
  </div>

  <div
    class:list={[
      fullWidth ? "w-full" : "mx-auto w-full max-w-3xl px-4",
    ]}
  >
    <slot />
  </div>
</main>
